<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chencha.utlisdemo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".seekbar.ProgressBarActviity"/>
        <activity android:name=".seekbar.SeekbarActivity"/>
        <activity android:name=".img.ImageFlexboxActivity"/>
        <activity android:name=".selectimg.ImageSelectActivity"/>
        <activity android:name=".tagview.TagViewActivity"/>
        <activity android:name=".vr.VrActivity"/>
        <activity android:name=".vr.VrWebViewActivity"/>
        <activity android:name=".text.CountTimeActivity"/>
        <activity android:name=".receipt.PrintReceiptActivity"/>
        <activity android:name=".hencode.DrawColorViewKt"/>
        <activity android:name=".hencode.DrawCircleView"/>
        <activity android:name=".hencode.DrawRectView"/>
        <activity android:name=".hencode.DrawPointView"/>
        <activity android:name=".hencode.DrawViewActivity"/>
        <activity android:name=".hencode.PracticeViewKt"/>
        <activity android:name=".recycler.RecyclerViewKt"/>
        <activity android:name=".recycler.DemoKt"/>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.chencha.utlisdemo.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>


    </application>

</manifest>